{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Register</title>
  </head>
  <body style="background-color:#203647;">
  <div class="container mt-5">
    <div class="mt-3">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="card" >
      <div class="card-body">
        <h2 class="text-center " style="color:#203647" >Register On TaskMate</h2>
        <hr>
        <div class="row">
          <div class="col-md-6 border-right" style=".border-right {border-right: 1px solid black;}">
            <img src="{% static 'images/user_add.png' %}" alt="Sign Up" width="450" height="450">
          </div>
          <br>
          <div class="col-md-6">
            <form class="" method="POST">
              {% csrf_token %}
              {{form|crispy}}
              <button type="submit" class="btn btn-primary btn-block" name="button">Register</button>
            </form>
          </div>
      </div>
      </div>
    </div>
</div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>
